
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: #ffffff;
  /* background-image: url('cricket.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  font-family: "work sans";
}

html{
  font-size: 100%;
}

#loginform{
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    /* width: 30%;
    height: 60%; */
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #headerTitle{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
  }

#google{
    /* width:70px; */

    padding: 20px 126px;
}
  